*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--dark-cyan);
  overflow: hidden;
}
.img__top {
  position: absolute;
  z-index: -99;
  width: 60%;
  top: -70%;
  left: -13%;
}
.img__bottom {
  position: absolute;
  z-index: -99;
  width: 60%;
  bottom: -70%;
  right: -12%;
}
.main {
  width: 455px;
  min-height: 465px;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  background-color: white;
  box-shadow: 15px 15px 25px var(--shadow);
  z-index: 999;
  position: relative;
}

.top {
  height: 190px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url('../images/bg-pattern-card.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.image__bg {
  background-color: white;
  width: 135px;
  height: 135px;
  bottom: -67.5px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  position: absolute;
}

.img__profile {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  position: relative;
}
.name__section {
  display: flex;
  align-items: center;
  width: 11.3rem;
  justify-content: space-between;
}
.name__section h2 {
  color: var(--very-dark);
  font-size: 1.5rem;
}
.name__section p {
  font-size: 1.5rem;
  color: var(--dark-gray);
}
p.city {
  font-size: 1.2rem;
  color: var(--dark-gray);
  margin: 1rem 0 1.94rem 0;
}
.social__Media {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 2rem;
  border-top: 1px solid var(--border);
}

.social__card {
  text-align: center;
}
.social__card h2 {
  color: var(--very-dark);
  text-transform: uppercase;
}
.social__card p {
  color: var(--dark-gray);
  font-size: 0.8rem;
  letter-spacing: 0.18em;
  padding-top: 0.2rem;
}
